.cta {
    display: grid;
    justify-items: center;
    margin-bottom: 30vh;
}

li {
    color: white;
}

.btn.resumeBtns {
    display: grid;
    justify-items: center;
    
}

.resumeCards {
    background: pink;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
    grid-template-rows: 1fr 2fr 1fr;
    
} 