.about {
    margin-top: 5rem;
    min-height: 100vh;
}

#aboutmeHeader {
    padding-left: 55rem;
    display: inline-block;
    margin-top: 2rem;
    
}

.containeraboutContainer {
    display: grid;
    align-items: center;

}



.aboutMe {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, red, transparent);
  display:grid;
  place-items: center;

}

.aboutmeImage {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);

}

.aboutmeImage:hover {
    transform: rotate(0);
}

/* .aboutContent {
    display: grid;
    display: inline-block;
    grid-auto-rows: 50vh;
    margin-left: 50vh;
    
} */



.aboutCards {
   background: pink;
   border: 1px solid transparent;
   border-radius: 1rem;
   padding: 2rem;
   text-align: center;
   margin-top: 2rem;
   grid-template-rows: 1fr 2fr 1fr;
   

}

.aboutCards:hover {
    background: transparent;
    border-color: purple;
}


/* Media queries */

@media screen and (max-width: 1024px) {
    .aboutContainer {
        grid-template-columns: 1fr;
        gap: 0;

    }
.aboutMe {
    width: 50%;
    margin: 2rem auto 4rem;
}        

.aboutContent p {
    margin: 1rem 0 1.5rem;
}

}


@media screen and (max-width: 600px) {
    .aboutMe {
        width: 65%;
        margin: 0 auto 3rem;
    }
    .aboutCards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .aboutContent {
        text-align: center;

        
    }

    .aboutContent {
        margin: 1.5rem 0;
    }
    }


  

    