
.home {
   
    
    min-height: 100vh;
    margin-left: 75vh;
    
}

#picofMe {
    height: 40vh;
    width: 40vh;
    margin-left: 90vh;
    margin-top: 4rem;
    border-radius: 12 rem 12 rem 0 0;
   
    padding: 5rem 1.5rem 1.5 rem 1.5rem;

}
.scrollDown {
    position: absolute;
    right: -2.3rem;
    bottom: 5 rem;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 1rem;
}


/* Media queries to make responsive */


@media screen and (max-width: 1024px) {
    .home {
   
    
        min-height: 100vh;
        margin-left: 0;
        
    }

@media screen and (max-width: 600px) {
    .header {
        height: 100vh;
    }


    .scrollDown {
        display: none;

    }}
}
       