nav {
    background: rgba(0,0,0,0.3);
  

    display: flex;
    margin-left: 80vh;
    padding: 0.7rem 1.7rem;
    bottom: 2rem;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(25px);
    /* left: 50%; */
    max-width: max-content;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
    
    
}

nav a {
    background: transparent;
    padding: 0.9rem;
    /* border-radius: 50%; */
    
    font-size: 1.1rem;
    display: inline-block;
    
}

nav a:hover {
    background: rgba(0,0,0,0, 0.4);
}

/* nav a.active {
    background: var(--color-grey);
    color: var(--color-grey);
} */

@media screen and (max-width: 605px) {
    nav {
        margin-left: 0;
        width: 90%;
    }}