@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #2E4BB5;
  --color-text: red;
  --color-white: white;
  --color-text2: blue;
  --color-grey: grey;
  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter Tight", sans-serif;

  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1.h2.h3.h4.h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-white);
}

section > h2 {
  color: var(--color-text2);
  margin-bottom: 3rem;
}

.textLight {
  color: var(--color-grey);
}

a {
  color: var(--color-white);
  transition: var(--transition);
}

a:hover {
  color: var(--color-grey);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-bg-varient);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
    background: var(--color-primary);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-primary);
}



/* img {
    display: block;
    width: 100%;
    object-fit: cover;
} */

/* Media queries */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2{
        margin-bottom: 2rem;
    }
}



